@charset "utf-8";

* { margin: 0; padding: 0;}
ul, li { margin: 0; padding: 0; list-style: none;}
a { text-decoration: none; color: #333333;}
body {  background: #ffffff; color: #333333;}

#wrap {
    width: 1200px;
    /* 왼오  좌우 */
    margin: 0 auto; 
    position: relative;
}

#header {
    width: 100%;
    display: flex;
}

#header .logo {
    width: 20%;
    height: 100px;
    background-color: aqua;
}

#header .nav {
    width: 80%;
    height: 100px;
    background-color: blue;
    z-index: 1000;
}

.nav > ul {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}
.nav > ul > li {
    position: relative;
}
.nav > ul > li > a {
    display: inline-block;
    background-color: #c6baf6;
    padding: 10px 50px;
}
.nav > ul > li > a:hover { 
    background-color: #7046da;
}
.nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    text-align: center;
    display: none;
}
.nav > ul > li > ul > li {}
.nav > ul > li > ul > li > a {
    display: inline-block;
    padding: 10px;
    background-color: #65689f;
    width: 100%;
    box-sizing: border-box;
}
.nav > ul > li > ul > li > a:hover { 
    background-color: #7046da;
}

#slider {
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
}

.sliderWrap {
    position: relative;
} 
.sliderWrap > div {
    display: none;
}
.sliderWrap > div:first-child {
    display: block;
}
.sliderWrap  .slider {
    position: absolute;
    left: 0;
    top: 0;
} 
.sliderWrap .slider img {
    vertical-align: top;
}
.sliderWrap  .slider span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: rgb(255, 255, 255, 0.5);
}

#con {
    width: 100%;
    display: flex;
}

#con .con1 {
    width: 33.3333%;
    height: 200px;
    background-color: #d1d1d1;
}

.tab-menu {
    padding: 20px;
}
.tab-menu .tab-btn ul {
    display: flex;
}
.tab-menu .tab-btn li.active a {
    text-decoration: underline;
}
.tab-menu .tab-btn a {
    display: block;
    padding: 10px;
    background-color: #c9a3a3;
}

.tab-menu .tab-cont > div {
    padding: 10px;
    background-color: #eee5e5;
    line-height: 1.6;
}

.tab-menu .tab-cont > div:nth-child(2) {
    display: none;
}

#con .con2 {
    width: 33.3333%;
    height: 200px;
    background-color: #c7c7c7;
}
#con .con3 {
    width: 33.3333%;
    height: 200px;
    background-color: #bcbcbc;
}


#footer {
    width: 100%;
    display: flex;
}


#footer .logo {
    width: 20%;
    height: 100px;
    background-color: rgb(15, 42, 53);
}
#footer .copyright {
    width: 60%;
    height: 100px;
    background-color: rgb(126, 166, 182);
}
#footer .sns {
    width: 20%;
    height: 100px;
    background-color: rgb(199, 230, 243);
}


.popup-view {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    background-color: #fff;
    border: 3px solid;
    display: none;
}

.popup-view .popup-close { 
    background-color: #ae2020;
    padding: 10px;
    display: inline-block;
}