@charset "utf-8";

* { margin: 0; padding: 0;}
ul, li { margin: 0; padding: 0; list-style: none;}
a { text-decoration: none; color: #333333;}
body {  background: #ffffff; color: #333333;}

#wrap {
    width: 1200px;
    /* 왼오  좌우 */
    margin: 0 auto; 
}

#header {
    width: 100%;
    display: flex;
}

#header .logo {
    width: 20%;
    height: 100px;
    background-color: aqua;
}

#header .nav {
    width: 80%;
    height: 100px;
    background-color: blue;
    z-index: 1000;
}

.nav > ul {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}
.nav > ul > li {
    position: relative;
}
.nav > ul > li > a {
    display: inline-block;
    background-color: #c6baf6;
    padding: 10px 50px;
}
.nav > ul > li > a:hover { 
    background-color: #7046da;
}
.nav > ul > li > ul {
    position: absolute;
    left: 0;
    top: 40px;
    width: 100%;
    text-align: center;
    display: none;
}
.nav > ul > li > ul > li {}
.nav > ul > li > ul > li > a {
    display: inline-block;
    padding: 10px;
    background-color: #65689f;
    width: 100%;
    box-sizing: border-box;
}
.nav > ul > li > ul > li > a:hover { 
    background-color: #7046da;
}

#slider {
    width: 100%;
    height: 300px;
    background-color: antiquewhite;
}

#con {
    width: 100%;
    display: flex;
}

#con .con1 {
    width: 33.3333%;
    height: 200px;
    background-color: #d1d1d1;
}
#con .con2 {
    width: 33.3333%;
    height: 200px;
    background-color: #c7c7c7;
}
#con .con3 {
    width: 33.3333%;
    height: 200px;
    background-color: #bcbcbc;
}


#footer {
    width: 100%;
    display: flex;
}


#footer .logo {
    width: 20%;
    height: 100px;
    background-color: rgb(15, 42, 53);
}
#footer .copyright {
    width: 60%;
    height: 100px;
    background-color: rgb(126, 166, 182);
}
#footer .sns {
    width: 20%;
    height: 100px;
    background-color: rgb(199, 230, 243);
}