@charset "utf-8";

* { margin: 0; padding: 0;}
ul, li { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; color: #333333; }

#wrap { 
    width: 1200px;
    margin: 0 auto;
}

#header {
    width: 100%;
    display: flex;
}
#header .logo {
    width: 20%;
    height: 100px;
    background-color: #efefef;
}
#header .nav {
    width: 80%;
    height: 100px;
    background-color: #ebdddd;
}

.nav > ul {
    display: flex;
    justify-content: right;
    margin-top: 30px;
}
.nav > ul > li {
    position: relative;
}
.nav > ul > li > a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #fff;
}
.nav > ul > li > a:hover { 
    background-color: #af3232;
}
.nav > ul > li > ul {
    display: none;
    position: absolute;
    left: 0;
    top: 38px;
    width: 100%;
    text-align: center;
    background-color: #e6cfcf;

}
.nav > ul > li > ul > li {} 

.nav > ul > li > ul > li > a {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #f8cfcf;
    box-sizing: border-box;
}
.nav > ul > li > ul > li > a:hover {
    background-color: #e34747;
}


#slider {
    width: 100%;
    height:300px;
    background-color: #c5bfbf;
}

#main {
    width: 100%;
    display: flex;
}

#main .contents1 {
    width: 33.3333%;
    height:200px;
    background-color: #d0a5a5;
}
#main .contents2 {
    width: 33.3333%;
    height:200px;
    background-color: #9e5353;
}
#main .contents3 {
    width: 33.3333%;
    height:200px;
    background-color: #757171;
}

#footer {
    width: 100%;
    display: flex;
}

#footer .footer1 {
    width: 20%;
    height:100px;
    background-color: #a99898;
}

#footer .footer2 {
    width: 80%;
}

#footer .footer2 .footer2-1{
    width: 100%;
    height:50px;
    background-color: #a79d9d;
}


#footer .footer2 .footer2-2{
    width: 100%;
    height:50px;
    background-color: #dbacac;
}

/* 자바스크립트용 css */
.nav > ul > li > ul {
    display: block;
    height: 0px;
    /* height: 165px; */
    overflow: hidden;
    transition: all 600ms;
}