@charset "UTF-8";

*{margin:0; padding: 0;}
body { background: #ffffff; color:#333333;}
a{ text-decoration: none;}
ul, li{margin:0; padding:0; list-style: none;}
.fl {float: left;}

#wrap {width: 1200px; margin:0 auto;}

/* header */
#wrap header {
    width: 1200px; height: 100px;
    position: relative;
}

#wrap header .logo {width: 200px; height: 100px; float:left;}
#wrap header .logo img{margin-top:30px;}
#wrap header .logo img:hover { opacity: 0.7;}

/* menu */
#wrap header .menu {
    width: 1000px; height: 100px;
    background: #ffffff;
    float: left;
}
#wrap header .menu nav {
    width:800px; height: 50px; 
    background: #6c4998;
    position: absolute;
    right: 0; top: 25px;
    z-index: 999;
}

#wrap header .menu nav li {background: #2f5084;}
#wrap header .menu nav>ul>li {
    float:left; 
    width:25%; height: 50px;
    line-height: 50px;
    text-align: center;
}
#wrap header .menu nav ul>li:hover ul{ height:auto;}
#wrap header .menu nav a {
    display:block; 
    color:#ffffff;
    font-size: 15px;
    font-weight: bold;
}
#wrap header .menu nav>ul>li a:hover { background:#6c4998; color:#ffffff;}
#wrap header .menu nav>ul>li>ul { width: 200px; height: 0; overflow: hidden; }

/* content  */
#wrap #center { width: 1200px; height: 500px;}

/* slider fade-inout */
#wrap #center .slider {
    width: 1200px; height: 300px;
    /* position: relative; */
    /* overflow: hidden; */
    /* clear: both; */
    /* background: rgb(181, 207, 247); */
}
#wrap #center .sliderList { position:relative; }
#wrap #center .sliderImg { position:absolute; }
/* #wrap #center .slider>div { position: absolute; top: 0; left: 0;} */
/* #wrap #center .slider>div img{ display: block;} */

/* notice + banner */
#wrap #center .con div { 
    float: left; width: 400px; height: 200px;
}

/* 공지사항 */
#wrap #center .con .con1{ position: relative;}

#wrap #center .con .con1 h2 { 
    margin-top: 10px; font-size: 14px;
    width: 100px; height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgb(230, 227, 227);
}

#wrap #center .con .con1 h2.on { background: #0066ad; color: #fff;}
#wrap #center .con .con1 ul {
    display: none;
    width: 400px;
    background: #fff;
    padding-top: 15px;
    border-top: 1px solid #0066ad;
    position: absolute;
    top: 35px; 
}
#wrap #center .con .con1 h2.on+ul{display: block;}

#wrap #center .con .con1 ul.notice li {
    height: 28px; 
    line-height: 28px;
    border-bottom: 1px dashed #ccc;
}
#wrap #center .con .con1 ul.notice li a { 
    /* text-decoration: none; */
    font-size: 14px;
    padding: 0 10px;
}
#wrap #center .con .con1 ul.notice li a:hover { color: #0066ad;}

#wrap #center .con .con1 ul.notice li span{
    float: right;
    font-size: 12px; 
    padding: 0 10px;
    color: #999;
}

/* 갤러리 */
#wrap #center .con .con1 h2.gy { margin-top: 10px;}
#wrap #center .con .con1 ul.gallery {
    padding-top: 15px;
    position: absolute;
    top: 35px;
}
#wrap #center .con .con1 ul.gallery li img { width: 120px; height: 135px;}
#wrap #center .con .con1 ul.gallery li{ float: left; margin-left: 10px;}
#wrap #center .con .con1 ul.gallery li a:hover {opacity: 0.5;}

/* 배너 + 바로가기 */
#wrap #center .con .con2 img, .con3 img { width: 400px; height: 200px;}
#wrap #center .con .con2 img:hover,
#wrap #center .con .con3 img:hover{opacity: 0.7;}

/* footer */
#wrap footer { 
    width:1200px; height: 100px; clear: both;
    border-top:2px solid #000;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
    font-size:13px; 
    font-weight:bold;
}

#wrap footer .blogo {width: 200px; height: 100px; float: left;}
#wrap footer .blogo img { margin-top: 30px;}
#wrap footer .blogo img:hover {opacity: 0.7;}
#wrap footer .footer {float: right;}
#wrap footer .footer .bmenu { width: 1000px; height: 50px;}

#wrap footer .footer .bmenu ul {margin-left: 50px; background: red;}
#wrap footer .footer .bmenu ul li {float:left; margin: 15px 50px 0 50px;}
#wrap footer .footer .bmenu ul li a{color: #333}
#wrap footer .footer .bmenu ul li a:hover {color: #999;}

#wrap footer .footer .copyright {
    width: 1000px; height: 50px;
    border-top: 1px dotted #999;
    box-sizing: border-box;
}

#wrap footer .footer .copyright p { padding-top: 10px; text-align:center}


#popup {
    width: 400px; height: 300px;
    border: 3px solid #5b9bd5;
    background: #f2f2f2; 
    display: none;
    position:absolute;
    top: 300px; left: 50%;
    transform: translate(-50%, -50%);
    z-index:99999;
}   

#popup h3 {
    font-size: 17px;
    width: 400px; height: 50px;
    line-height: 50px;
    text-align:center;
    background: #5b9bd5;
    color:#ffffff;
}

#popup .close {
    background: #0066ad;
    font: size 13px;
    padding: 7px 11px;
    text-align:center;
    color:#ffffff;
    border-radius: 5px;
    position:absolute;
    right:10px; bottom: 10px;
    cursor:pointer;
}
#popup .close:hover { background: #014a7e;}
#popup .text {
    text-align:center;
    font-size: 14px;
    padding-top: 20px;
}
#popup .text p { font-size: 25px;}