@charset "utf-8";

* { margin: 0; padding: 0;}


#wrap { 
    width: 1200px;
    margin: 0 auto;
}

#header {
    width: 100%;
    display: flex;
}
#header .logo {
    width: 20%;
    height: 100px;
    background-color: #efefef;
}
#header .nav {
    width: 80%;
    height: 100px;
    background-color: #956262;
}


#slider {
    width: 100%;
    height:300px;
    background-color: #c5bfbf;
}

#main {
    width: 100%;
    display: flex;
}

#main .contents1 {
    width: 33.3333%;
    height:200px;
    background-color: #d0a5a5;
}
#main .contents2 {
    width: 33.3333%;
    height:200px;
    background-color: #9e5353;
}
#main .contents3 {
    width: 33.3333%;
    height:200px;
    background-color: #757171;
}

#footer {
    width: 100%;
    display: flex;
}

#footer .footer1 {
    width: 20%;
    height:100px;
    background-color: #a99898;
}

#footer .footer2 {
    width: 80%;
}

#footer .footer2 .footer2-1{
    width: 100%;
    height:50px;
    background-color: #a79d9d;
}


#footer .footer2 .footer2-2{
    width: 100%;
    height:50px;
    background-color: #dbacac;
}