@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

#wrap {
    width: 1200px;
    margin: 0 auto;
}

#header { 
    width: 100%;
    display: flex;
}
#header .logo {
    width: 20%;
    height: 100px;
    background-color: #4f3737;
}
#header .nav {
    width: 80%;
    height: 100px;
    background-color: #413131;
}

#slider { 
    width: 100%;
    height: 300px;
    background-color: #8f8787;
}


#main { 
    width: 100%;
    display: flex;
}

#main .contents1 {
    width: 33.3333%;
    height: 200px;
    background-color: #858383;
}
#main .contents2 {
    width: 33.3333%;
    height: 200px;
    background-color: #bcb7b7;
}
#main .contents3 {
    width: 33.3333%;
    height: 200px;
    background-color: #b5b2b2;
}


#footer { 
    width: 100%;
    display: flex;
}

#footer .footer1{ 
    width: 20%;
    height: 100px;
    background-color: #eabdbd;
}
#footer .footer2{ 
    width: 60%;
    height: 100px;
    background-color: #c76f6f;
 }
#footer .footer3{
    width: 20%;
    height: 100px;
    background-color: #9b9595;
 }