
a { text-decoration: none;}
.myh1 { font-family: 'Gasoek One', sans-serif; }
.myh2 { font-family: 'Noto Sans KR', sans-serif; }
.myp { font-family: 'Noto Sans KR', sans-serif; font-weight: 500;}
.my_span1 { font-family: 'Noto Sans KR', sans-serif; font-weight: 500; color:darkblue;}
.mytable { vertical-align: middle;}