@charset "UTF-8";

* {margin:0; padding:0;}
ul, li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none; color: #333333;}
body { background: #f2f2f2;}


#wrap { width: 1200px; margin: 0 auto;}

header { width: 1200px; height: 100px;}
header .logo {width: 200px; height: 100px; float: left;}
/* header .logo img { margin-top: 30px;} */
header .logo img:hover {opacity: 0.7;}

/* menu */
header .menu { width: 1000px; height: 100px; float:left; position: relative; }
header .menu nav {width: 80%; position: absolute; 
        right: 0; top: 50px;
        z-index: 999;
        text-align: center;
    }
header .menu nav ul li { float: left; width: 25%; position: relative;}
header .menu nav ul li a{
        display: block; 
        height: 50px; line-height: 50px;
        color: #ffffff;
}
header .menu nav>ul>li>a {background: #666;}
header .menu nav ul li a:hover{background: #b8b5b5;}

/* submenu */
header .menu nav ul li ul { display: none;}
header .menu nav ul li ul li {width: 100%;}

/* submenu - bg */
header .background { 
    width: 1200px; height: 150px;
    background: #666;
    z-index : 9;
    position: absolute;
    left: -200px;
    top: 100px;
    display: none;
}
/* 빈칸 */
header .menu nav ul li ul li .op{opacity: 0;}


/* contents */
#wrap #center {width: 1200px; height: 500px;}

.slider { width: 1200px; height: 300px;
    /* position: relative; */
    /* overflow: hidden; */
    /* clear:both; */
    /* background: #f2f2f2; */
}

.sliderList { position:relative;}
.sliderImg { position: absolute;}
/* 
#wrap #center .slider>div {position: absolute; top: 0; left: 0;}
#wrap #center .slider>div img { display: block;} */

/* 공지사항 */

.con div { float:left; width: 400px; height: 200px;}
.con .con1 { background: #fff;}
.con .con1 h2 { color:#000; padding:10px 0 0 7px;}
.con .con1 ul { padding:7px; font-size: 15px;}
.con .con1 ul li {
    height: 24px;
    border-bottom: 1px dotted #999;
    line-height: 24px;
}
.con .con1 ul li a { color: #333;}
.con .con1 ul li a:hover {color:#D01218; text-decoration: underline;}
.con .con1 ul li span {
    float: right;
    color: #999;
    font-size: 14px;
}

/* gallery */
.con .con2 { background: #ddd;}
.con .con2 h2 { color: #000; padding: 10px 0 0 7px;}
.con .con2 ul {
    display: flex; 
    justify-content: space-evenly;
    margin-top:10px;
}
.con .con2 ul li:hover{opacity: 0.7;}

/* 배너 */
.con .con3 { background: #f2f2f2;}
.con .con3 img:hover{ opacity: 0.7;}

/* footer */
footer {
    width: 1200px; height: 100px;
    clear: both;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
    font-size: 13px;
}

footer .bc { float: left; width: 1000px; height: 100px;}
footer .bc .bmenu { width: 1000px; height: 50px;}

footer .bc .bmenu ul {margin-left: 50px; background: red;}
footer .bc .bmenu ul li { float: left; margin: 15px 50px 0 50px;}
footer .bc .bmenu ul li a{ color: #333;}
footer .bc .bmenu ul li a:hover { color: #999;}

footer .bc .copyright { 
    width: 1000px; height: 50px;
    border-top: 1px dotted #999;
    box-sizing: border-box;
}
footer .bc .copyright p { padding-top: 10px; text-align:center;}

footer .family { width: 200px; height: 100px; float: right;}
footer .family select{ 
    width: 150px; height: 30px;
    text-align: center;
    margin-top: 30px;
    float: right;
    background: #ddd;
}

/* popup */
#popup{
    width: 400px; height: 300px;
    border: 3px solid #5b9bd5;
    background: #f2f2f2;
    display:none;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index:99999;
}
#popup h3{
    font-size: 17px;
    width: 400px; height: 50px;
    line-height: 50px;
    text-align: center;
    background: #5b9bd5; 
    color: #fff;
}
#popup .close {
    background: #5b9bd5;
    font-size: 13px;
    padding: 7px 11px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    right:10px;
    bottom: 10px;
    cursor: pointer;
}
#popup .close:hover { background: #26445f;}
#popup .text{ text-align: center; font-size: 14px; padding-top: 20px;}
#popup .text p { font-size: 25px;}

