@charset "utf-8";

* { margin: 0; padding: 0;}
ul, li { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; color: #333333; }

#wrap { 
    width: 1200px;
    margin: 0 auto;
}

#header {
    width: 100%;
    display: flex;
    position: relative;
}
#header .logo{
    width: 20%;
    height: 100px;
    background-color: #dfdfdf;
}
#header .nav{
    width: 80%;
    height: 100px;
    background-color: #d65353;
    z-index: 1000;
}

/* #header { 
    position: relative;
}
#header::after {
    position: absolute;
    content: '';
    top: 100px;
    width: 100%;
    height: 0px;
    background-color: #8f5d5d;
    transition: all 400ms;
}

#header.on::after {
    height: 166px;
} */

.background {

    position: absolute;
    width: 1200px;
    height: 165px;
    top: 100px;
    z-index: 1;
    background-color: #e4b0b0;
    display: none;
}

.nav > ul {
    display: flex;
    justify-content: right;
    margin-top: 59px;
}
.nav > ul > li {
    position: relative;
}
.nav > ul > li > a {
    display: inline-block;
    padding: 10px 50px;
    background-color: #c18484;
}
.nav > ul > li > a:hover {
    background-color: #ee7171;
}

.nav > ul > li > ul {
    text-align: center;
    width: 100%;
    left: 0;
    top: 41px;
    display: none;
}
.nav > ul > li > ul > li {}
.nav > ul > li > ul > li > a {
    display: inline-block;
    padding: 10px;
    background-color: #e4b0b0;
    width: 100%;
    box-sizing: border-box;
}
.nav > ul > li > ul > li > a:hover { 
    background-color: #eec9c9;
}

#slider {
    width: 100%;
    height: 300px;
    background-color: #6e5454;
}

#main {
    width: 100%;
    display: flex;
}
#main .contents1{
    width: 33.3333%;
    height: 200px;
    background-color: #605e5e;
}
#main .contents2{
    width: 33.3333%;
    height: 200px;
    background-color: #282424;
}
#main .contents3{
    width: 33.3333%;
    height: 200px;
    background-color: #eca5a5;
}

#footer {
    width: 100%;
    display: flex;
}
#footer .footer1{
    width: 80%;
}
#footer .footer1 .footer1-1{
    width: 100%;
    height: 50px;
    background-color: #c57c7c;
}
#footer .footer1 .footer1-2{
    width: 100%;
    height: 50px;
    background-color: #ac9f9f;
}
#footer .footer2{
    width: 20%;
    height: 100px;
    background-color: #d17d7d;
}