@charset "utf-8";

* {margin: 0; padding: 0;}
ul, li { margin: 0; padding: 0; list-style: none;}
a { text-decoration: none; color: #333333;}
body { background-color: #fff;}
#wrap { 
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
}

#aside {
    width: 200px;
    height: 850px;
}

.logo {
    width: 100%;
    height: 150px;
    background-color: #e3cfcf;
}
.nav {
    width: 100%;
    height: 750px;
    /* background-color: #aaa4a4; */
}

.nav > ul {
    padding: 10px;
}
.nav > ul > li > a {
    padding: 10px 20px;
    display: block;
    background-color: #e1cfcf;
}
.nav > ul > li > a:hover {
    background-color: #f86c6c;
}
.nav > ul > li > ul {
    display: none;
}
.nav > ul > li > ul > li > a {
    padding: 10px 20px;
    display: block;
    background-color: #d6b6b6;;
}
.nav > ul > li > ul > li > a:hover {
    background-color: #f86c6c;
}

#main {
    width: calc(100% - 200px);
    height: 850px;
    /* background-color: #d2d0d0; */
}

#slider {
    width: 100%;
    height: 400px;
    background-color: #ecdada;
    overflow: hidden;
}
.sliderWrap {
    width: 100%;
    height: 400px;

}
.sliderImg {
    position: relative;
}
.sliderImg > img {
    vertical-align: top;
    width: 100%;
    height: 400px;
   
}
.sliderImg span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background: rgb(255, 255, 255, 0.5);
}

#banner {
    width: 100%;
    height: 200px;
    background-color: #dad3d3;
}

.link {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 300px;
    background-color: #fff;
}

#contents {
    width: 100%;
    height: 250px;
    /* background-color: #c1bfbf; */
}

.tab-menu { 
    padding: 10px 20px;
}
.tab-menu .tab-btn {
   
}
.tab-menu .tab-btn ul {
    display: flex;
    border-bottom: 1px solid #e94141;
}
.tab-menu .tab-btn ul li { 
    padding: 5px 50px;
    display: inline-block;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #e1e0e0;
}
.tab-menu .tab-btn ul li.active {
    display: block;
    background-color: #e94141;
 }


.tab-menu .tab-cont {
    background-color: #fff;
}
.tab-cont .notice { 
 }

.notice > ul > li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed;
 }
.notice > ul > li > a {
    width: 75%;
    display: block;
    padding: 5px 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
 }
 .notice > ul > li > a:hover {
    color: #e94141;
 }
.notice ul > li > span {
    padding: 5px 50px;
    width: 25%;
    text-align: center;
    /* background-color: #d77373; */
 }

 .gallery  {

 }
 .gallery ul {
    display: flex;

 }
 .gallery ul li {
    display: block;
    padding: 5px;
 }
 .gallery ul li a {
   
 }
 .gallery ul li a:hover {
    opacity: 0.7;
 }

#footer {
    width: 100%;
    display: flex;
}

.footer1 {
    width: 200px;
    height: 100px;
    background-color: #156e4b;
}
.footer2 {
    width: calc(100% - 200px - 20%);
    height: 100px;
    background-color: #dfdfdf;
}
.footer3 {
    width: 20%;
    height: 100px;
    background-color: #dfdfdf;
}