@charset "utf-8";

* { margin: 0; padding: 0;}

#wrap {
    width: 100%;
}

#header { 
    width: 100%;
    height: 100px;
    background-color: #cca7a7;
}

.container {
    width: 1200px;
    height: inherit;
    margin: 0 auto;
    display: flex;
    background-color: rgb(0, 0, 0, 0.2);
 }
#header .logo {
    width: 20%;
    height: 100px;
    background-color: #312424;
 }
#header .nav{
    width: 80%;
    height: 100px;
    background-color: #a49898;
 }


#slider {
    width: 100%;
    height: 300px;
}

#contents {
    width: 100%;
}
#contents .contents1 {
    width: 33.3333%;
    height: 200px;
    background-color: #641414;
 }
#contents .contents2 {
    width: 33.3333%;
    height: 200px;
    background-color: #594a4a;
 }
#contents .contents3 { 
    width: 33.3333%;
    height: 200px;
    background-color: #0c0b0b;
}

#footer {
    width: 100%;
    background-color: #8e7676;
}


#footer .footer1{
    width: 80%;
    height: 100px;
    background-color: #e4b6b6;
}


#footer  .footer2 {
    width: 20%;    
}

#footer .footer2 .footer2-1 {
    width: 100%;
    height: 50px;
    background-color: #dfc4c4;
    
}

#footer  .footer2 .footer2-2 {
    width: 100%;
    height: 50px;
    background-color: #ccadad;
}